/* ======================================================================================
CORPO DO SITE (NAV)
====================================================================================== */

@font-face {
    font-family: 'SpaceFF';
    src: url('../font/space/age.ttf');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../font/bahnschrift._semibold.ttf')
}

body {
    margin: 0;
    border: 0;
    font-family: 'Bahnschrift';
    transition: 1.0s;
}

html {
    scroll-behavior: smooth;
}

.font-noticia {
    font-family: 'Times New Roman', Times, serif;
}

.verdeclaro {
    color: #20a83e;
}

.cinzaclaro {
    color: #1d2123;
}

.cinzalight {
    color: #647070;
}

.cinzaescuro {
    color: #121415;
}

#section {
    transition: 2s;
}

.texto-front {
    margin-top: 150px;
}

.texto-central {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#intro {
    margin-top: -80px;
    width: 100%;
    height: 100vh;
    position: relative;
    background-blend-mode: screen;
    background: url("../img/coding-on-laptop.jpg") center no-repeat;
    background-size: cover;
}

#intro .intro-info h2 {
    color: #1d2123;
    margin-bottom: 0;
    margin-top: 80px;
    font-size: 48px;
    font-weight: 700;
}

#intro .intro-info h2 span {
    color: #101e70;
}

#intro .intro-info .btn-get-started, #intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover, #intro .intro-info .btn-services:hover {
    background: #0a98c0;
}

/* ======================================================================================
MENU SUPERIOR ESTILO (NAV)
====================================================================================== */

.menu-componentes {
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 999;
}

.menu-componentes a {
    float: left;
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    color: #647070;
    text-align: center;
    text-decoration: none;
    margin-left: 4%;
    z-index: 999;
}

.menu-componentes a:hover {
    color: #20a83e;
    transition-duration: 0.4s;
    z-index: 999;
}

.gradezinha {
    color: #647070;
    margin-left: 2%;
    z-index: 999;
}

.inferior-titulo {
    color: #20a83e;
    font-size: 18px;
    font-family: 'Bahnschrift';
    z-index: 999;
}

.inferior-texto {
    color: #647070;
    font-size: 14px;
    position: static;
    white-space: nowrap;
    text-decoration: none;
    padding-right: 20px;
    z-index: 999;
}

.inferior-link {
    border-radius: 4px;
    border: 1px solid #20a83e;
    color: #20a83e;
    font-size: 12px;
    padding: 3px;
    text-decoration: none;
    z-index: 9999;
}

.inferior-link:hover {
    color: #151819;
    background-color: #20a83e;
    text-decoration: none;
    transition-duration: 0.5s;
    z-index: 999;
}

.carousel-container {
    width: 70%;
}

/* ======================================================================================
TESTE
====================================================================================== */

.container {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* ======================================================================================
CONTEUDO DA PÁGINA ESTILOS
====================================================================================== */

.bordas {
    width: 130px;
    height: 130px;
    transform: rotate(45deg);
}

.icones {
    margin: 20px 50px 60px 30px;
    transform: rotate(-45deg);
    width: 65px;
}

.sombra {
    box-shadow: 5px 5px 12px rgba(19, 19, 19, 0.582);
}

/* ======================================================================================
TAB DO CONTEUDO
====================================================================================== */

.item {
    width: 100px;
    height: 100px;
}

.item:hover {
    transition: none !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #f8f9fa !important;
    z-index: 999;
}

.link.active {
    border-color: green green #f8f9fa !important;
    transition: none !important;
}

.icone1 {
    background-image: url(../img/chip.png);
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.icone2 {
    background-image: url(../img/employee.png);
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.icone3 {
    background-image: url(../img/programmer.png);
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.seta {
    width: 10px;
    content: "";
    position: relative;
    bottom: 0px;
    left: 38.2%;
    border: 15px solid transparent;
    border-top-color: green;
    margin-top: -40px;
    transform: none;
}

.parallax {
    background-image: url(../img/programm.jpg);
    background-size: cover;
    width: 100%;
    height: 520px;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    opacity: 0.2;
}

.full {
    width: 100px;
    height: 100px;
    transition: 0.1s;
}

.full:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

.titulo-noticia {
    background: #20a83e;
    transform: skew(-12deg);
    width: 200px;
}

.noticia-principal {
    top: 60%;
}

.info {
    visibility: visible;
}

.sub a {
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.sub a:hover {
    text-decoration: none;
}

.side-news {
    top: 20%;
}

.side-news a {
    font-size: 20px;
}

.img-principal {
    width: 100%;
    height: 104%;
    overflow: hidden;
    position: relative;
}

.foot-news {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.foot-news img {
    max-width: 100%;
    transition: all 0.3s;
}

.foot-news:hover img {
    transform: scale(1.2);
}

.foot-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* ======================================================================================
Footer
====================================================================================== */

.footer {
    width: 100%;
    background-color: #151819;
    min-height: 250px;
}

/* ======================================================================================
SESSÃO DE RESPONSIVIDADE
====================================================================================== */

@media (max-width: 600px) {
    .inferior-texto {
        position: absolute;
        z-index: -1000;
        overflow: hidden;
        visibility: hidden;
    }
    .inferior-titulo {
        margin-left: -90px;
    }
}

/* Menor resolução  */

@media (max-width: 575.98px) {
    .setas {
        position: absolute;
        top: 20%;
    }
    .texto-front {
        margin-top: 100px;
    }
    .carousel-container {
        width: 90%;
    }
    .carousel-indicators {
        height: 20px;
    }
    .carousel-indicators {
        top: 50%;
    }
    .carousel-item {
        height: 400px !important;
    }
    .carousel-control-next {
        right: 0px !important;
    }
    .carousel-control-prev {
        left: 0px !important;
    }
    .nav-item {
        width: 70px;
        height: 70px;
        transition: 0.6s;
    }
    .info {
        visibility: hidden;
    }
    .sub a {
        font-size: 20px;
    }
    .noticia-principal {
        top: 20%;
    }
}

/* Resolução de celular */

@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-item {
        width: 70px;
        height: 70px;
        transition: 0.6s;
    }
    .info {
        visibility: hidden;
    }
    .sub a {
        font-size: 20px;
    }
}

/* Resolução de tablets */

@media (min-width: 768px) and (max-width: 991.98px) {
    .bordas {
        width: 90px;
        height: 90px;
    }
    .icones {
        margin: 10px 50px 60px 20px;
        width: 45px;
    }
    .info {
        visibility: hidden;
    }
    .sub a {
        font-size: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .bordas {
        width: 100px;
        height: 100px;
    }
    .icones {
        margin: 10px 50px 60px 20px;
        width: 55px;
    }
}

@media (min-width: 1200px) {}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}

/* Control buttons  */

#quote-carousel .carousel-control {
    background: none;
    color: #222;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

/* Previous button  */

#quote-carousel .carousel-control.left {
    left: -12px;
}

/* Next button  */

#quote-carousel .carousel-control.right {
    right: -12px !important;
}

/* Changes the position of the indicators */

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

/* Changes the color of the indicators */

#quote-carousel .carousel-indicators li {
    background: #c0c0c0;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
}

#quote-carousel img {
    width: 250px;
    height: 100px
}

/* End carousel */

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}

/* Small devices (tablets, up to 768px) */

@media (max-width: 768px) {
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}