/* Estilo do corpo, em grande parte toda a estrutura principal */


/* ======================================================================================
====================================================================================== */

@font-face {
    font-family: 'SpaceFF';
    src: url('../font/space\ age.ttf');
}

@font-face {
    font-family: 'Bahnschrift';
    src: url('../font/bahnschrift._semibold.ttf')
}

body {
    margin: 0;
    border: 0;
    font-family: 'Bahnschrift';
}


/* ======================================================================================
====================================================================================== */

.header {
    width: 100%;
    height: 30px;
    background-color: #1d2123;
}

.menu-content {
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    background-color: #121415;
}

.menu-componentes {
    width: 100%;
    position: relative;
    text-align: center;
}

.menu-componentes a {
    float: left;
    font-family: 'Bahnschrift', Arial, Helvetica, sans-serif;
    color: #647070;
    text-align: center;
    text-decoration: none;
    margin-left: 4%;
}

.menu-componentes a:hover {
    color: #20a83e;
}

.menu-componentes-ladodireito {
    float: right;
}

.menu-opcoes {
    width: 100%;
    box-sizing: border-box;
}

.header-inferior {
    background-color: #1d2123;
    width: 100%;
    text-align: center;
    position: relative;
}

.botaoLink {
    position: absolute;
    float: left;
    padding: 2px;
}

.gradezinha {
    color: #647070;
    margin-left: 2%;
}

.header-inferior a {
    font-family: 'Bahnschrift';
}

.inferior-titulo {
    color: #20a83e;
    font-size: 18px;
    font-family: 'Bahnschrift';
}

.inferior-texto {
    color: #647070;
    font-size: 14px;
    position: static;
    white-space: nowrap;
    text-decoration: none;
    padding-right: 20px;
}

.inferior-link {
    border-radius: 4px;
    border: 1px solid #20a83e;
    color: #20a83e;
    font-size: 12px;
    padding: 3px;
    text-decoration: none;
}

.inferior-link:hover {
    color: #151819;
    background-color: #20a83e;
    text-decoration: none;
    transition-duration: 0.4s;
}

.Homepage {
    font-size: 40px;
    font-family: 'SpaceFF';
    color: #20a83e;
    text-decoration: none;
    text-align: start;
    vertical-align: middle;
    line-height: 45px;
    float: left;
    margin-left: 0.5%;
    width: 22%;
}

.socialmedia {
    position: relative;
    text-align: end;
    color: #20a83e;
}

.socialmedia a {
    margin-right: 5px;
    text-decoration: none;
}

.socialmedia a i {
    color: #20a83e;
}


/* 
estilização dos conteudos do site */


/* Make the image fully responsive */

@media (max-width: 600px) {
    .inferior-texto {
        position: absolute;
        z-index: -1000;
        overflow: hidden;
        visibility: hidden;
    }
    .inferior-titulo {
        margin-left: -90px;
    }
}


/* @media (max-width: 1000px) {
    .navbar-toggler {
        position: absolute;
    }
} */


/* algumas responsividades */


/* ======================================================================================
====================================================================================== */


/* ======================================================================================
====================================================================================== */


/* ======================================================================================
====================================================================================== */